.gradient-box {
  display: flex; /* Включаем flex-контейнер для горизонтального расположения элементов */
  align-items: center; /* Центрируем элементы по вертикали */
  padding: 12px 20px; /* Внутренние отступы внутри блока */
  border-radius: 20px; /* Закругленные углы для визуального эффекта */
}

.title {
  font-size: 24px; /* Размер шрифта заголовка */
  font-weight: 600; /* Жирное начертание для выделения заголовка */
  margin-right: 10px; /* Отступ справа между заголовком и иконкой */
  color: white; /* Цвет текста заголовка */
}

.header-icon {
  height: 30px; /* Фиксированная высота для иконки */
  width: auto; /* Автоматическая ширина для сохранения пропорций */
  max-height: 100%; /* Гарантирует, что иконка не выйдет за пределы контейнера */
}
