.container-fluid {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-size: cover;
}

.card-wrapper > .card {
  min-height: 25vh;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Основной контейнер */
.custom-container {
  width: 100vw;
  height: auto;
  margin: 0;
  background-size: cover;
  padding: 0;
  min-height: 100vh;
}

/* Шапка страницы */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/main-page.jpg");
  background-size: cover;
  background-position: center;
  color: white; /* Белый текст */
  padding: 20px 0; /* Внутренние отступы */
  text-align: center; /* Центровка текста */
  display: flex; /* Включаем Flexbox */
  min-height: 40vh;
  border-radius: 20px;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
}

.header-title {
  margin: 0;
  font-size: 5rem;
  font-weight: bold;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
}
